<!DOCTYPE html>
<html lang="en">

<head>
    <!-- Meta tags -->
    <meta charset="utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1" />
    <meta content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=0" name="viewport" />
    <meta name="viewport" content="width=device-width" />
    <meta name="description"
        content="Get the total length/duration of a YouTube playlist by passing its link as input. You get the time required to watch that playlist at different speeds.">


    <!-- Favicon and title -->
    <link rel="icon" href="{{url_for('static', path='/favicon.png')}}" />
    <title>YouTube Playlist Length</title>

    <!-- Google tag (gtag.js) -->
    <script async src="https://www.googletagmanager.com/gtag/js?id=G-6W24HY1SKP"></script>
    <script>
        window.dataLayer = window.dataLayer || [];
        function gtag() { dataLayer.push(arguments); }
        gtag('js', new Date());

        gtag('config', 'G-6W24HY1SKP');
    </script>
    <script async src="https://pagead2.googlesyndication.com/pagead/js/adsbygoogle.js?client=ca-pub-8874895270666721"
        crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.6.0/js/all.min.js"
        crossorigin="anonymous"></script>
    <!-- Halfmoon CSS -->
    <link href="https://cdn.jsdelivr.net/npm/halfmoon@1.1.1/css/halfmoon-variables.min.css" rel="stylesheet" />


    <script src="{{url_for('static', path='/form_validation.js')}}"></script>
</head>

<body class="with-custom-webkit-scrollbars with-custom-css-scrollbars" data-dm-shortcut-enabled="true"
    data-set-preferred-mode-onload="true">

    <div class="page-wrapper with-navbar with-navbar-fixed-bottom">
        <div class="sticky-alerts"></div>

        <!-- Navbar start -->
        <nav class="navbar h-100 bg-light-lm">
            <div class="container-lg">
                <a href="https://ytplaylist-len.sharats.dev/">
                    <img src="{{url_for('static', path='/logo.png')}}" height="60" alt="YouTube Playlist Length" />
                </a>
                <span class="navbar-text text-monospace">
                    <span class="badge badge-danger text-dark-dm text-white-lm"> v3.0</span>
                </span>
                <button class="btn btn-lg btn-square ml-auto text-danger" type="button"
                    onclick="halfmoon.toggleDarkMode()">
                    <i class="fa fa-moon" aria-hidden="true"></i>
                    <span class="sr-only">Toggle dark mode</span>
                </button>

                <a href="https://github.com/sharatsachin/ytplaylist-len">
                    <button class="btn btn-lg btn-square ml-5 text-danger">
                        <i class="fab fa-github" aria-hidden="true"></i>
                        <span class="sr-only">Toggle dark mode</span>
                    </button>
                </a>
            </div>
        </nav>
        <!-- Navbar end -->

        <!-- Content wrapper start -->
        <div class="content-wrapper mt-20">
            <div class="container px-20 h-50"></div>
            <div class="container">
                <div class="content">
                    <h2 class="content-title">Find the length of any YouTube playlist:</h2>
                    <form method="POST" onsubmit="return validateForm()">
                        <div class="form-text content mx-0 my-5">
                            You can enter a playlist link, playlist ID or even a video link from the playlist!
                            <br />
                            You can also enter a single video link or list of playlist links.
                        </div>
                        <div class="input-group">
                            <textarea autofocus="autofocus" class="form-control"
                                placeholder="youtube.com/playlist?list=ID1&#10;youtube.com/playlist?list=ID2"
                                name="search_string" rows="10" required></textarea>
                        </div>
                        <div class="form-text content mx-0 my-5">
                            Optionally, enter a range of videos to analyze in the first link. Leave blank to analyze the
                            entire playlist.
                            <br />
                            You can also enter a custom speed (like 2.25), and a YouTube API key to use your own.
                        </div>
                        <div class="input-group">
                            <input type="number" class="form-control" placeholder="Range start (1)" name="range_start"
                                min="1" max="500">
                            <input type="number" class="form-control" placeholder="Range end (500)" name="range_end"
                                min="1" max="500">
                            <input type="number" class="form-control" placeholder="Custom speed (like 2.25)"
                                name="custom_speed" min="0.1" max="10" step="0.01">
                            <input type="text" class="form-control" placeholder="YouTube API key" name="youtube_api">
                            <div class="input-group-append">
                                <button class="btn btn-primary ml-5 text-dark-dm shadow-none"
                                    type="submit">Analyze</button>
                            </div>
                        </div>
                    </form>
                </div>
            </div>

            <div class="container">
                {% for block in playlist_detail %}
                <div class="card">
                    <div class="card-body">
                        {% for x in block %}
                        {% if loop.first %}
                        <p class="first-line" style="font-weight: bold;">{{ x |
                            safe
                            }}</p>
                        {% else %}
                        <p class="description">{{ x | safe }}</p>
                        {% endif %}
                        {% endfor %}
                    </div>
                </div>
                {% endfor %}
            </div>

            <div class="container">
                <div class="content">
                    <script async src="https://pagead2.googlesyndication.com/pagead/js/adsbygoogle.js?client=ca-pub-8874895270666721"
                         crossorigin="anonymous"></script>
                    <!-- Below form -->
                    <ins class="adsbygoogle"
                         style="display:block"
                         data-ad-client="ca-pub-8874895270666721"
                         data-ad-slot="4571294072"
                         data-ad-format="auto"></ins>
                    <script>
                         (adsbygoogle = window.adsbygoogle || []).push({});
                    </script>
                    
                </div>
            </div>


        </div>
        <!-- Content wrapper end -->


        <!-- Navbar fixed bottom start -->
        <nav class="navbar navbar-fixed-bottom bg-light-lm">
            <div class="footer-content mx-auto">
                Made with ❤ by <a href="https://www.sharats.dev"> Sharat Sachin</a>.
                Buy me a <a href="https://ko-fi.com/sharat">coffee.</a>
            </div>
        </nav>
        <!-- Navbar fixed bottom end -->
    </div>
    <!-- Page wrapper end -->

    <script src="https://cdn.jsdelivr.net/npm/halfmoon@1.1.1/js/halfmoon.min.js"></script>
    <script>
        // dark mode toggler
        function toggleDemo() {
            halfmoon.toggleDarkMode();
        }
    </script>
</body>

</html>
