<!DOCTYPE html>
<html>
	<head>
		<meta charset="UTF-8">
		<meta name="viewport" content="width=device-width, initial-scale=1">
		<title>YouTube Playlist Length</title>
		<style>
			body {
			  	background: #ccc;
			  	font-family:monospace;
			}
			.hero {
				background: #eee;
				padding: 20px;
				border-radius: 10px;
				margin-top: 1em;
			}
			.hero h1 {
				margin-top: 0;
				margin-bottom: 0.3em;
			}
			.outline { 
	            color: white;
	            -webkit-text-stroke-width: 1px; 
	            -webkit-text-stroke-color: #000080; 
	        }
		</style>
		<!-- Global site tag (gtag.js) - Google Analytics -->
		<script async src="https://www.googletagmanager.com/gtag/js?id=UA-126277658-2"></script>
		<script>
		  window.dataLayer = window.dataLayer || [];
		  function gtag(){dataLayer.push(arguments);}
		  gtag('js', new Date());

		  gtag('config', 'UA-126277658-2');
		</script>
	</head>
	<body>
		<div class="hero">
			<h1>  
				<span style="color:#FF9933;">YouTube</span>
				<span class="outline">Playlist</span>
				<span style="color:#138808;">Length</span>
			</h1>
			<p>Enter the playlist <span style="color:red;">ID</span> to find the length : (max length : 500)</span></p>
			<p>(youtube.com/playlist?list=<span style="color:red;">ID</span>)</p>
			<form method="POST" class="form-inline">
				<div>
					<input id="sstr" type="text" name="search_string">
					<button type="submit" class="btn btn-sm btn-a">Get Length</button>
				</div>
			</form>
		</div>
		{% if display_text %}
		<div class="hero">
			{% for x in display_text %}
				<p>{{x | safe}}</p>
			{% endfor %}
		</div>
		{% endif %}
	</body>
</html>